<!DOCTYPE html>
<html lang="en">
<head>
    <title>FitFamOz</title>
    <% include ../partials/head %>
</head>
<body id="main-body">
    <header>
        <% include ../partials/navbar_nologin%>
    </header>

<section class="jumbotran text-center">
    <div class="main">
        <h1>FitFamOz</h1>
        <h2>Connecting People To A Healthier Lifestyle</h2>
        <a href="/signup" class="btn btn-red" id="btn-get-started">Get Started!</a>
    </div>
</section>

<footer>
    <% include ../partials/footer%>
</footer>

</body>
</html>
