<!DOCTYPE html>
<html lang="en">
<head>
    <title>FitFamOz</title>
    <% include ../partials/head %>
    <% include ../partials/footer%>
</head>
<body id="main-body" ng-app="myApp" ng-controller="indexCtrl">
  <header>
      <% include ../partials/navbar_nologin%>
  </header>

  <section ng-if="isIndex()" class="jumbotran text-center">
      <div class="main">
          <h1>FitFamOz</h1>
          <h2>Connecting People To A Healthier Lifestyle</h2>
          <a class="btn btn-red" id="btn-get-started" ng-click="nextPage()">Get Started!</a>
      </div>
  </section>

  <div ng-if="isSignUp1()">
    <% include ../partials/signup1%>
  </div>

  <div ng-if="isSignUp2()">
    <% include ../partials/signup2%>
  </div>

  <div ng-if="isLogIn()">
    <% include ../partials/login%>
  </div>

  <footer>

  </footer>

</body>
</html>
