<div class="container">

    <div class="row">
        <div class="col-sm-12 about-heading">About Us</div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="about-subheadings">Contact Form</div>
            <form action="" method="" id="contactform" class="contactformbox">
                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <input type="text" class="form-control" id="subject" placeholder="What is it about?">
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control" rows="5" id="message" placeholder="Type your message here."></textarea>
                </div>
                <div class="form-group" style="padding-top:20px;">
                    <input type="submit" id="submit" value="Submit" class="btn btn-blue"/>
                </div>
            </form>
        </div>

        <div class="col-sm-8">
            <div class="row">
                <div class="about-subheadings">
                    Who we are?
                </div>
                <div class="theteambox about-box">
                    <div class="about-text">
                        We are students from the University of Melbourne and this webapp is our project for the subject, INFO30005, Web Information Technologies.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="about-subheadings">The Team</div>
                <div class="col-sm-1 col-xs-4 theteambox">
                    <img class="profilepic-icon memberpic" src="/img/profilepic.jpg" alt="pp">
                    <div class="teammember"> Elles Le </div>
                </div>
                <div class="col-sm-1 col-xs-4 theteambox">
                    <img class="profilepic-icon memberpic" src="/img/profilepic.jpg" alt="pp">
                    <div class="teammember"> Joanna Lee </div>
                </div>
                <div class="col-sm-1 col-xs-4 theteambox">
                    <img class="profilepic-icon memberpic" src="/img/profilepic.jpg" alt="pp">
                    <div class="teammember"> Nelson Chen </div>
                </div>
                <div class="col-sm-1 col-xs-4 theteambox">
                    <img class="profilepic-icon memberpic" src="/img/profilepic.jpg" alt="pp">
                    <div class="teammember"> Qing Yi Yap</div>
                </div>
                <div class="col-sm-1 col-xs-4 theteambox">
                    <img class="profilepic-icon memberpic" src="/img/profilepic.jpg" alt="pp">
                    <div class="teammember"> Nam Nguyen </div>
                </div>
            </div>
        </div>
      </div>
  </div>
