<div class="container" ng-controller="NavbarCtrl">
  <div class="row">

    <div class="col-sm-4 col-sm-push-4 log-in">
      <div class="section-name">
        <i class="material-icons back-button" ng-click="prevPage()">chevron_left</i>
        <span>Already signed up?</span>
      </div>

      <div class="signup-form-contents">

        <div class="btn facebook-login" ng-click="loginUser()">
          <i class="fa fa-facebook-square facebook-icon" aria-hidden="true"></i>
          Log In with Facebook
        </div>

    </div>
    </div>



  </div>
</div>
