/****** PLACE YOUR CUSTOM STYLES HERE ******/
html, body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

#main-body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("https://source.unsplash.com/3cCe37VGDiQ");
  background-size: cover;
  min-height: 100%;
}

#user-profile, #my-profile {
  background-image: url("https://source.unsplash.com/dDCf0-c4RTU");
  background-size: cover;
  min-height: 100%;
}

#matches {
  background-image: url("https://source.unsplash.com/y1eZFrr4MQ0");
  background-size: cover;
  min-height: 100%;
}

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.profile-name, .section-name {
  position:relative;
}

.row-center {
  text-align:center;
}

.col-center {
  display:inline-block;
  float:none;
}

th {
  color:#5A5C58; /* grey */
  text-align: center;
  font-size: 16px;
}

/* * * * * * * * * * * * * *
 *       COMPONENTS        *
 * * * * * * * * * * * * * */

a {
  cursor: pointer;
}

a.btn, a.btn:link, a.btn:visited, a.btn:active, a.btn:hover {
  color: #fff;
  font-weight: bold;
  width: 100%;
}

.dropdown-menu .btn-blue, .btn-blue {
  background-color: #126BAB; /* blue */
}

.dropdown-menu .btn-blue:hover, .btn-blue:hover {
  background-color: #0e5385; /* darker blue */
  color: #fff;
}

.dropdown-menu .btn-red, .btn-red {
  background-color: #C05243; /* red */
}

.dropdown-menu .btn-red:hover, .btn-red:hover, .added-friend {
  background-color: #994135; /* darker red */
  color: #fff;
}

.added-friend.remove-friend {
  background-color: #893a2f; /* darkest red */
}

.btn-light-blue {
  background-color: #7ea2ca; /* lightest blue */
}

.btn-light-blue:hover {
  background-color: #7191b5; /* lighter blue */
  color: #fff;
}

.btn-pagination {
  background-color: #C05243; /* red */
  font-size: 16px;
  color: white;
  font-weight: bold;
  border: 2px solid rgba(255, 255, 255, 0.3); /* white */;
  border-radius: 10px;
}

.input-group-addon i {
  font-size: 1.3em;
}

.loader-container {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.loader {
  animation: spin 2s linear infinite;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  display: inline-block;
  height: 80px;
  margin-right: 120px;
  margin-top: 70px;
  width: 80px;
  -webkit-animation: spin 2s linear infinite;
}

.loader.profile-page {
  margin-right: 0px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* * * * * * * * * * * *
 *       NAVBAR        *
 * * * * * * * * * * * */
.navbar-default {
  background-color: rgba(255,255,255,0.8);
  border-radius: 0;
  padding: 0px;
}

.navbar-brand {
  height: auto;
  padding: 0px 20px;
}

.navbar li {
  border-left: 1px solid #cdcecc; /* light grey */
}

.navbar li a {
  cursor: pointer;
  padding: 0px;
  text-align: center;
}

.before-login li a {
  padding: 18px 25px;
}

.before-login li:hover {
  background-color: #eeeeee; /* lightest grey */
}

.navbar-toggle {
  margin: 11px;
}

.navbar-brand img {
  height: 55px;
  margin-left: 10px;
  float: left;
}

.navbar-nav>li>a.navbar-link {
  color: #C05243; /* red */
}

.navbar-nav>li>a.navbar-link:hover {
  color: #994135; /* darker red */
}

.navbar-link-labels {
  font-size: 0.8em;
  font-weight: bold;
  width: 100%;
}

.material-icons {
  top: 0px;
  bottom: 0px;
}

.material-icons.md-36 {
  display: block;
  font-size: 36px;
  margin: 5px 20px 0px 20px;
  text-align: center;
}

.profilepic-icon {
  border: 4px solid #C05243; /* red */
  border-radius: 100px;
  height: 50px;
  margin: 6px 20px;
  width: 50px;
}

.profilepic-icon-sm {
  border: 1px solid rgba(202,220,241, 1); /* light blue */
  border-radius: 50%;
  height: 40px;
  margin-right: 12px;
  width: 40px;
  margin-left: 12px;
}

.profilepic-icon:hover {
  border-color: #994135; /* darker red */
}

.dropdown-menu {
  width: 250%;
}

.dropdown-menu li {
  border: 0px;
  padding: 3px 10px;
}

.dropdown-menu .btn {
  box-sizing: border-box;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  padding: 8px 15px;
}


/* * * * * * * * * * * * * *
 *       INDEX PAGE        *
 * * * * * * * * * * * * * */
.main {
  padding-top: 175px;
  color: #fff;
  text-shadow: 1px 1px black;
}

.main h1 {
  font-size: 80px;
  font-weight: bolder;
}

.main h2 {
  font-weight: 100;
  padding-bottom: 30px;
}

#btn-get-started {
  border-radius: 50px;
  border: 2px solid #C05243; /* red */
  background-color: #C05243; /* red */
  padding: 10px 20px;
  font-size: 20px;
  width: auto;
}

#btn-get-started:hover {
  border-color: #994135;  /* darker red */
  background-color: #994135;  /* darker red */
}

/* * * * * * * * * * * * * * * * *
 *       PROFILE SUMMARY         *
 * * * * * * * * * * * * * * * * */
.profile-summary, .profile-details, .recent-activities, .create-profile, .log-in {
  background-color: rgba(255, 255, 255, 0.8); /* white */
  border-radius: 10px;
  height: 100%;
  margin: 10px 10px;
  min-height: 500px;
  min-width: 240px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.profile-summary img {
  border: 5px solid #C05243; /* red */
  border-radius: 100px;
  display: block;
  height: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.profile-summary .profile-name {
  color: #C05243; /* red */
  font-size: 2em;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.profile-summary .location {
  color: #acadab; /* light ish grey */
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
}

.profile-summary .location.my-profile, .my-profile {
  font-size: 0.8em;
}

.profile-summary .action-items {
  bottom: 0;
  margin-bottom: 30px;
  position: absolute;
  width: 100%;
}

.profile-summary .row {
  margin: 5px 15px;
  padding-bottom: 0px;
}

.profile-details {
  background-color: rgba(228, 237, 248, 0.8); /* light blue */
  min-width: 400px;
}

.section-name {
  border-bottom: 1px solid #cdcecc; /* light grey */
  color: #5A5C58; /* grey */
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.recent-activities .section-name {
  color: #C05243; /* red */
}

#profile-details {
  height: 100%;
  margin: 10px;
  min-height: 300px;
  min-width: 300px;
  max-width: 380px;
  width: 100%;
  vertical-align: text-top;
}

.profile-details-section {
  border-bottom: 1px solid #cdcecc; /* light grey */
  color: #5A5C58; /* grey */
  font-weight: 400;
}

.section-title {
  font-size: 16px;
  margin: 10px 20px;
  color: #5A5C58; /* grey */
}

.section-details {
  font-size: 14px;
  color: #126BAB; /* blue */
  text-align: center;
  width: 100%;
  overflow: hidden;
  max-height: 100px;
}

.profile-edit-text {
  padding: 0px 15px 10px 15px;
}

.profile-details ul, .profile-details li {
  position: relative;
}

.profile-details ul {
  padding: 5px 20px;
}

.profile-details li {
  background-color: #dcdcdb; /* lightest grey */
  border: 1px solid #cdcecc; /* light grey */
  border-radius: 5px;
  list-style-type: none;
  margin: 2px 0px;
}

.activity-name, .activity-level, .profile-details-text {
  color: #5A5C58; /* grey */
  font-size: 1em;
  margin: 10px 30px;
}

.activity-name {
  display: inline-block;
  font-weight: bold;
  margin: 10px 20px;
}

.activity-name-edit {
  display: inline;
  margin: 3px;
  width: inherit;
}

.activity-level {
  display: inline-block;
  float: right;
  font-size: 1em;
  margin: 10px 15px;
  width: auto;
}

.add-activity {
  color: #C05243; /* red */
  margin-top: -15px;
  text-align: center;
}

.add-activity i {
  cursor: pointer;
  font-size: 2.5em;
}

.add-activity i:hover {
  color: #994135; /* darker red */
}

.delete-activity {
  cursor: pointer;
  float: right;
  margin-top: 8px;
  margin-right: 3px;
}

/* * * * * * * * * * * * * * * * *
 *       SIGN UP FORM            *
 * * * * * * * * * * * * * * * * */

#skill-dropdown {
  float: right;
  padding-right: 10px;
}

#subheading {
  color: #5A5C58; /* grey */
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

#signup, #continue, #login {
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
  width: 100%;
  margin-top: 20px;
  height: 50px;
  border-radius: 10px;
}

#signupform, #login-form {
  padding: 20px 40px;
}

.error-text {
  font-size: 1em;
  margin: 5px 0px 5px 0px;
  text-align: center;
}

 .signup-form-contents {
   margin: 20px 40px;
 }

 .input-group {
   margin-bottom: 5px;
 }

 #selectboxlabel {
  color: #5A5C58; /* grey */
  text-align: center;
 }

 option {
   text-align: center;
   font-size: 14px;
   height: 35px;
   padding-top: 7px;
   color: #5A5C58;
   border-bottom: solid 1px white;
 }

 .material-icons.back-button {
   cursor: pointer;
   font-size: 30px;
   float: left;
   margin: 0 auto;
 }

 .formlabel{
   color: #5A5C58; /* grey */
   font-size: 1.2em;
   font-weight: bold;
   padding-top: 20px;
   text-align: center;
 }

 .create-profile, .find-sports {
   background-color: rgba(255, 255, 255, 0.8); /* white */
   border-radius: 10px;
   height: 100%;
   margin: 20px 10px;
   min-height: 300px;
   min-width: 390px;
   margin-top: 100px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
 }

#selectbox {
  padding-top: 10px;
  margin-top: -15px;
  border: none;
  background-color: #126BAB; /* blue */
  border-radius: 15px;
  height: 200px;
}

.log-in {
  min-height: 100%;
  margin-top: 200px;
  padding: 0px;
}

.form-group {
  margin-bottom: 0px;
}

.input-group-addon.upload-pic {
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.input-group-addon.upload-text {
  margin-top: 10px;
}

.input-group-addon.upload-pic input {
  cursor: pointer;
  direction: ltr;
  font-size: 200px;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -ms-filter:'alpha(opacity=0)';
}

.thumbnail {
  height: 200px;
  margin: 0 auto;
  padding: 0px;
  width: 200px;
}

.facebook {
  min-height: 100px;
}

.facebook-login {
  background-color: #4267b2;
  color: #fff;
  display: block;
  margin: 5px auto;
 }

.facebook-login:hover {
  color: #fff;
 }

.facebook-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.google-login {
  background-color: #db4437;
  color: #fff;
  display: block;
  margin: 5px auto;
}

.google-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.google-login:hover {
  color: #fff;
}

/* * * * * * * * * * * * * * * * *
 *       CHECKBOX                *
 * * * * * * * * * * * * * * * * */

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  /* margin-top: 2em; */
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio label:hover {
  color: #126BAB;
}

/* * * * * * * * * * * * * * * * *
 *       MATCHES                *
 * * * * * * * * * * * * * * * * */
.match-toggle-container {
  margin: 10px 0px;
}

.match-toggle-container toggle {
  display: inline-block;
  float: right;
  margin-top: 10px;
  border: 2px solid rgba(255, 255, 255, 0.3); /* white */;
  border-radius: 10px;
}

#match-toggle-text {
  display: inline-block;
  font-size: 2.1em;
  margin: 6px 0px;
  vertical-align: middle;
}

.toggle-on.btn, .toggle-off.btn {
  background-color: #126BAB; /* blue */
}

.toggle-on.btn:hover, .toggle-off.btn:hover {
  background-color: #0e5385; /* darker blue */
}

.no-matches-message {
  font-size: 1.5em;
  margin: 100px;
}

.match-profile-name {
  color: #C05243; /* red */
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.profile-view img {
   border: 5px solid #C05243; /* red */
   border-radius: 100px;
   cursor: pointer;
   display: block;
   height: 100px;
   margin: 0 auto;
   margin-top: 30px;
 }

.profile-view {
  color: #C05243; /* red */
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.profile-view .action-items {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.match-profile-summary {
  font-size: 13px;
  color: black;
  font-weight: normal;
  text-align: left;
  max-height: 35px;
  min-height: 35px;
  overflow: hidden;
}

#profile-view {
  background-color: rgba(255, 255, 255, 0.8); /* white */
  border-radius: 10px;
  padding-bottom: 10px;
}

#sidebar-filter {
  padding-left: 50px;
  display: inline-block;
  color: white;
}

.filter-headings {
  padding: 0px;
}

.delete-activity-filter {
  cursor: pointer;
  margin-left: 10px;
  vertical-align: middle;
}

#profile-view {
  text-align: center;
}

#profile-view-content {
  padding-left: 50px;
  text-align: center;
  display: inline-block;
}

#matches-btn {
  font-size: 16px;
  margin-top: 15px;
  color: white;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.3); /* white */;
  border-radius: 10px;
}

#match-next {
  display: inline-block;
  padding-top: 30px;
}

#header-friends {
  padding-bottom: 10px;
}

#search-friend {
  width:60%;
}

.search-icon {
  top: 8px;
}

#search-friend-bar {
  padding-top: 20px;
}

#no-friends {
  color: #5A5C58;
  display: block;
  margin-right: 50px;
  margin-top: 120px;
  font-size: 1.3em;
}

#view-btn {
  color: white;
  width: 100%;
}

@media screen and (min-width: 730px) {
  #custom-modal-body {
    max-width: 1024px;
    min-width: 730px;
  }
}

.space-btn {
  padding:2px;
}

/* * * * * * * * * * * * * * * * *
 *       ABOUT US                *
 * * * * * * * * * * * * * * * * */

#about-us {
  background-image: url("https://source.unsplash.com/3cCe37VGDiQ");
}

#submit {
  font-weight: bold;
  color: white;
  width: 100%;
  margin-bottom: 50px;
  height: 40px;
  border-radius: 10px;
}

.contactformbox {
  background-color: rgba(202, 220, 241, 0.8); /* light blue */
  border-radius: 10px;
  height: 100%;
  min-height: 300px;
  min-width: 240px;
  margin: 10px;
  margin-top: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.about-subheadings {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.about-heading {
  color: white;
  padding-top: 30px;
  font-weight: bold;
  font-size: 2.5em;
  padding-bottom: 30px;
}

#about-us {
  color: white;
  padding-top: 30px;
  font-weight: bold;
}

#contactform {
  padding: 20px;
  padding-top: 20px;
}

#contactform label {
  margin: 5px 0px;
}

.theteambox {
  background-color: rgba(255, 255, 255, 0.8); /* light blue */
  border-radius: 10px;
  height: 100%;
  margin: 5px;
  margin-top: 5px;
  min-width: 240px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.about-box {
  display: flex;
  justify-content: center;
}

.about-text {
  align-self: center;
  color: #5A5C58; /* grey */
  font-size: 1em;
  margin: 25px;
  text-align: center;
}

.teammember {
  color: #5A5C58; /* grey */
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.memberpic {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100px;
}
