<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <title>About Us</title>
  </head>

<body id="main-body">

  <!-- NAVBAR -->
  <nav class="navbar navbar-default bg-faded">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index'%}">
          <img src="../../static/img/logo-with-name.png" alt="FitFamOz">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'message'%}">
            <i class="material-icons md-36">mail_outline</i></a>
          </li>
          <li class="dropdown">
            <a href="#"
               class="dropdown-toggle"
               data-toggle="dropdown"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">
                  <img class="profilepic-icon" src="../../static/img/profilepic.jpg" alt="pp">
             </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'my_profile'%}" class="btn btn-red">Edit Your Profile</a> </li>
              <li><a href="{% url 'my_profile'%}" class="btn btn-red">Preferences</a></li>
              <li><a href="{% url 'about_us'%}" class="btn btn-red">About Us</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'index'%}" class="btn btn-blue">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- /.NAVBAR -->

  <div class="container">

    <div class="row">
      <div class="col-sm-12 about-heading">About Us</div>
    </div>

    <div class="row">
      <div class="col-sm-3 contactformbox">
        <div class="about-subheadings">Contact Form</div>
        <form action="" method="" id="contactform">
          <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" class="form-control" id="subject" placeholder="What is it about?">
          </div>
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" rows="5" id="message" placeholder="Type your message here."></textarea>
          </div>
          <div class="form-group">
            <input type="submit" id="submit" value="Submit" class="btn btn-blue"/>
          </div>
        </form>
      </div>

      <div class="col-sm-8">
          <div class="row">
              <div class="about-subheadings">
                Who we are?
              </div>
              <div class="theteambox">

              </div>
          </div>
          <div class="row">
            <div class="about-subheadings">The Team</div>
            <div class="col-sm-1 col-xs-4 theteambox">
              <img class="profilepic-icon memberpic" src="../../static/img/profilepic.jpg" alt="pp">
              <div class="teammember"> Elles Le </div>
            </div>
            <div class="col-sm-1 col-xs-4 theteambox">
              <img class="profilepic-icon memberpic" src="../../static/img/profilepic.jpg" alt="pp">
              <div class="teammember"> Joanna Lee </div>
            </div>
            <div class="col-sm-1 col-xs-4 theteambox">
              <img class="profilepic-icon memberpic" src="../../static/img/profilepic.jpg" alt="pp">
              <div class="teammember"> Nelson Chen </div>
            </div>
            <div class="col-sm-1 col-xs-4 theteambox">
              <img class="profilepic-icon memberpic" src="../../static/img/profilepic.jpg" alt="pp">
              <div class="teammember"> Qing Yi Yap</div>
            </div>
            <div class="col-sm-1 col-xs-4 theteambox">
              <img class="profilepic-icon memberpic" src="../../static/img/profilepic.jpg" alt="pp">
              <div class="teammember"> Nam Nguyen </div>
            </div>
          </div>
      </div>

</body>
</html>
