<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="custom.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
</head>
<body>
    <navbar></navbar>
    <header>
      <h1>About Us</h1>
    </header>
    <section>
      <h2>Contact Form</h2>
      <div>
        <div>
          <form>
            <table>
              <tr>
                <label>Subject</label>
              </tr><br />
              <tr>
                <input type="textbox" id="contact-subject" class="contact-subject" value="What is it about?"/>
              </tr><br />
              <tr>
                <label>Message</label>
              </tr><br />
              <tr>
                <textarea id="contact-message" class="contact-subject">Type your message...</textarea>
              </tr><br />
              <input type="submit" id="contact-btn-submit" name="Submit" />
            </table>
          </form>
        </div>
        <div>

        </div>
      </div>
    </section>
    <section>
      <h2>Who are we?</h2>
      <div>

      </div>
    </section>
    <section>
      <h2>The Team</h2>
      <div>

      </div>
      <div>

      </div>
      <div>

      </div>
      <div>

      </div>
      <div>

      </div>
    </section>
</body>

</html>
