<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/themify-icons.css'%}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/flexslider.css'%}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/theme.css'%}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/custom.css'%}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/messages.css'%}" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
</head>
<body>
    <navbar></navbar>
    <header>
      <h1>About Us</h1>
    </header>
    <section>
      <h2>Contact Form</h2>
      <div>
        <div>
          <form>
            <table>
              <tr>
                <label>Subject</label>
              </tr><br />
              <tr>
                <input type="textbox" id="contact-subject" class="contact-subject" value="What is it about?"/>
              </tr><br />
              <tr>
                <label>Message</label>
              </tr><br />
              <tr>
                <textarea id="contact-message" class="contact-subject">Type your message...</textarea>
              </tr><br />
              <input type="submit" id="contact-btn-submit" name="Submit" />
            </table>
          </form>
        </div>
        <div>

        </div>
      </div>
    </section>
    <section>
      <h2>Who are we?</h2>
      <div>

      </div>
    </section>
    <section>
      <h2>The Team</h2>
      <div>

      </div>
      <div>

      </div>
      <div>

      </div>
      <div>

      </div>
      <div>

      </div>
    </section>

</body>

</html>
