<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FitFamOz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../static/css/custom.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        <navbar>

        </navbar>

        <section class="jumbotran text-center">
            <div class="main">
              <h1>FitFamOz</h1>
              <h2>Connecting People To A Healthier Lifestyle</h2>
              <button class="btn-get-started" href="">Get Started!</button>
            </div>
        </section>
    </body>
</html>
