<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FitFamOz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/custom.css" />

        <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
        <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    </head>
    <body id="main-body">
      <!-- NAVBAR (before Log-In) -->
      <nav class="navbar navbar-default bg-faded before-login">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index/">
              <img src="../../static/img/logo.png" alt="FitFamOz">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="about/">
                <span>About Us</span></a>
              </li>
              <li><a href="login/">
                <span>Log In</span></a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!-- /.NAVBAR -->

        <section class="jumbotran text-center">
            <div class="main">
              <h1>FitFamOz</h1>
              <h2>Connecting People To A Healthier Lifestyle</h2>
              <button class="btn-get-started" href="signup/">Get Started!</button>
            </div>
        </section>
    </body>
</html>
