<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Matches</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" media="all" />
  <link rel="stylesheet" type="text/css" href="../../static/css/custom.css" media="all" />
  </head>
  <body>
    <div class="row">
    <div class="container col-lg-4" id="sidebar-filter">
      <h4>Filters</h4>
        <form class="form-horizontal">
            <div class="form-group row">
                <div class="form-inline col-xs-6">
                  <h5>Location</h5>
                  <input class="form-control" type="text" placeholder="Suburb or Postcode">
                </div>
                <div class="form-inline col-xs-6">
                  <h5>Radius</h5>
                  <select class="form-control" id="radius">
                    <option>5km</option>
                    <option>10km</option>
                    <option>15km</option>
                    <option>30km</option>
                  </select>
                </div>
              </div>
                <div class="form-group row">
                    <div class="form-inline col-xs-6">
                      <h5>Activites</h5>
                      <input class="form-control" type="activities" placeholder="Find an activity">
                    </div>
                  <div class="form-inline col-xs-6">
                    <h5>Skill Level</h5>
                    <select class="form-control" id="radius">
                      <option>Low</option>
                      <option>Medium</option>
                      <option>High</option>
                    </select>
                  </div>
                </div>
                </form>
            </div>
          <div class="container col-lg-6" id="profile-view-content">
            <div class="col-xs-10 col-sm-4" id="profile-view">Profile</div>
            <div class="col-xs-10 col-sm-4" id="profile-view">Profile</div>
            <div class="col-xs-10 col-sm-4" id="profile-view">Profile</div>
            <div class="col-xs-10 col-sm-4" id="profile-view">Profile</div>
            <div class="col-xs-10 col-sm-4" id="profile-view">Profile</div>
            <div class="col-xs-10 col-sm-4" id="profile-view">Profile</div>
          </div>
    </div>
  </body>
</html>
