<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Messages & Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/messages.css'%}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/themify-icons.css'%}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/flexslider.css'%}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/lightbox.min.css'%}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/ytplayer.css'%}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/theme.css'%}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/custom.css'%}" rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600'
          rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="nav-container">
        <a id="top"></a>
        <nav class="absolute transparent">
            <div class="nav-bar">
                <div class="module left">
                    <a href="index.html">
                        <img class="logo" alt="Xplorer" src="{% static 'img/logo-dark.png'%}" />
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li>
                                <a href="../templates/index.html">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Region
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    What's hot
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Experience
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    My Page
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end of menu module-->
                    <div class="module widget-handle search-widget-handle left">
                        <div class="search">
                            <i class="ti-search"></i>
                            <span class="title">Search Site</span>
                        </div>
                        <div class="function">
                            <form class="search-form">
                                <input type="text" placeholder="Type Here" />
                            </form>
                        </div>
                    </div>

                    <!--end of widget-->

                    <div class="module widget-handle language left">
                        <ul class="menu">
                            <li class="has-dropdown">
                                <a href="#">ENG</a>
                                <ul>
                                    <li>
                                        <a href="#">French</a>
                                    </li>
                                    <li>
                                        <a href="#">Deutsch</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of module group-->
            </div>
        </nav>
    </div>
    <!-- end of navbar -->

    <!-- message box -->
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-md-4 bg-white ">
                <div class=" row border-bottom padding-sm" style="height: 40px;">
                    Member
                </div>

                <!-- =============================================================== -->
                <!-- member list -->
                <ul class="friend-list">
                    <li class="active bounceInDown">
                        <a href="#" class="clearfix">
                            <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                            <div class="friend-name">
                                <strong>John Doe</strong>
                            </div>
                            <div class="last-message text-muted">Hello, Are you there?</div>
                            <small class="time text-muted">Just now</small>
                            <small class="chat-alert label label-danger">1</small>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="clearfix">
                            <img src="http://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                            <div class="friend-name">
                                <strong>Jane Doe</strong>
                            </div>
                            <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                            <small class="time text-muted">5 mins ago</small>
                            <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="clearfix">
                            <img src="http://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
                            <div class="friend-name">
                                <strong>Kate</strong>
                            </div>
                            <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                            <small class="time text-muted">Yesterday</small>
                            <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="clearfix">
                            <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                            <div class="friend-name">
                                <strong>Kate</strong>
                            </div>
                            <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                            <small class="time text-muted">Yesterday</small>
                            <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="clearfix">
                            <img src="http://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                            <div class="friend-name">
                                <strong>Kate</strong>
                            </div>
                            <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                            <small class="time text-muted">Yesterday</small>
                            <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="clearfix">
                            <img src="http://bootdey.com/img/Content/user_6.jpg" alt="" class="img-circle">
                            <div class="friend-name">
                                <strong>Kate</strong>
                            </div>
                            <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                            <small class="time text-muted">Yesterday</small>
                            <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="clearfix">
                            <img src="http://bootdey.com/img/Content/user_5.jpg" alt="" class="img-circle">
                            <div class="friend-name">
                                <strong>Kate</strong>
                            </div>
                            <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                            <small class="time text-muted">Yesterday</small>
                            <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="clearfix">
                            <img src="http://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                            <div class="friend-name">
                                <strong>Jane Doe</strong>
                            </div>
                            <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                            <small class="time text-muted">5 mins ago</small>
                            <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
                        </a>
                    </li>
                </ul>
            </div>

            <!--=========================================================-->
            <!-- selected chat -->
            <div class="col-md-8 bg-white ">
                <div class="chat-message">
                    <ul class="chat">
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">John Doe</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Sarah</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales at.
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">John Doe</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Sarah</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales at.
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">John Doe</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Sarah</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales at.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Sarah</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales at.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="chat-box bg-white">
                    <div class="input-group">
                        <input class="form-control border no-shadow no-rounded" placeholder="Type your message here">
                        <span class="input-group-btn">
                            <button class="btn btn-success no-rounded" type="button">Send</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>