<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="../../static/css/theme.css"> -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../static/css/custom.css">

    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <title>My Profile</title>
  </head>
  <body>
    <div id="my-profile" ng-app="" ng-init="editMode=false">
      <!-- NAVBAR -->
      <nav class="navbar navbar-default bg-faded">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index'%}">
              <img src="../../static/img/logo-with-name.png" alt="FitFamOz">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'message'%}">
                <i class="material-icons md-36">mail_outline</i></a>
              </li>
              <li class="dropdown">
                <a href="#"
                   class="dropdown-toggle"
                   data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                      <img class="profilepic-icon" src="../../static/img/profilepic.jpg" alt="pp">
                 </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'my_profile'%}" class="btn btn-red">Edit Your Profile</a> </li>
                  <li><a href="{% url 'my_profile'%}" class="btn btn-red">Preferences</a></li>
                  <li><a href="{% url 'about_us'%}" class="btn btn-red">About Us</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'index'%}" class="btn btn-blue">Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!-- /.NAVBAR -->

      <div class="container">
        <div class="row">
          <div class="col-sm-3 profile-summary">
            <div>
              <img src="../../static/img/profilepic.jpg" alt="pp">
            </div>
            <div class="profile-name">
              John Smith
            </div>

            <div class="action-items">
              <div class="row">
                <a class="btn btn-blue" ng-click="editMode=!editMode" ng-class="{'btn-red': editMode}">
                  <span ng-if="!editMode">Edit Your Profile</span>
                  <span ng-if="editMode">Stop Editing</span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-sm-5 profile-details">
            <div class="section-name">Profile Details
              <a><i ng-if="editMode" class="material-icons edit-button">mode_edit</i></a>
            </div>
          </div>

          <div class="col-sm-3 recent-activities">
            <div class="section-name">Recent Activity
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
