<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/custom.css">

    <title> Create your Profile </title>
  </head>

  <body id="main-body">

  <h2 id="createprofileheading">Create a Profile</h2>
  <div class="container">

    <div class="row">

      <div class="col-sm-4 col-sm-push-4 find-sports">
        <div class="formlabel">What are you interested in?</div>

        <form action="" method="" id="signupform">
            <!-- <select multiple class="form-control" id="selectbox">
              <option value="1">Dog Walking</option>
              <option value="2">Gym Workouts</option>
              <option value="3">Ultimate Frisbee</option>
              <option value="4">Swimming</option>
              <option value="5">Walking</option>
              <option value="6">Jogging</option>
              <option value="7">Golf</option>
              <option value="8">Surfing</option>
              <option value="9">Football</option>
              <option value="10">Soccer</option>
            </select> -->

        <div class="funkyradio">
        <div class="funkyradio-primary">
            <input type="checkbox" name="checkbox" id="checkbox2" checked/>
            <label for="checkbox2">Dog Walking</label>
        </div>
        <div class="funkyradio-primary">
            <input type="checkbox" name="checkbox" id="checkbox3" checked/>
            <label for="checkbox3">Gym Workouts</label>
        </div>
        <div class="funkyradio-primary">
            <input type="checkbox" name="checkbox" id="checkbox4" checked/>
            <label for="checkbox4">Ultimate Frisbee</label>
        </div>
        <div class="funkyradio-primary">
            <input type="checkbox" name="checkbox" id="checkbox5" checked/>
            <label for="checkbox5">Swimming</label>
        </div>
        <div class="funkyradio-primary">
            <input type="checkbox" name="checkbox" id="checkbox6" checked/>
            <label for="checkbox6">Walking</label>
        </div>
        <div class="funkyradio-primary">
            <input type="checkbox" name="checkbox" id="checkbox7" checked/>
            <label for="checkbox7">Jogging</label>
        </div>
        <div class="funkyradio-primary">
            <input type="checkbox" name="checkbox" id="checkbox8" checked/>
            <label for="checkbox8">Surfing</label>
        </div>
        <div class="funkyradio-primary">
            <input type="checkbox" name="checkbox" id="checkbox9" checked/>
            <label for="checkbox9">Football</label>
        </div>
        </div>

          <div class="form-group">
            <input type="continue" id="continue" value="Continue" class="btn btn-red"/>
          </div>
      </form>

      </div>



    </div>
  </div>

  </body>

</html>
