<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Create your Profile </title>

    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../static/css/custom.css">

    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
  </head>

  <body id="main-body">
    <!-- NAVBAR (before Log-In) -->
    <nav class="navbar navbar-default bg-faded before-login">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index'%}">
            <img src="../../static/img/logo.png" alt="FitFamOz">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'about_us'%}">
              <span>About Us</span></a>
            </li>
            <li><a href="{% url 'login'%}">
              <span>Log In</span></a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- /.NAVBAR -->

    <div class="container">
      <div class="row">

        <div class="col-sm-4 col-sm-push-4 create-profile">
          <div class="section-name">Create your Profile </div>

          <form name="signupform" autocomplete=""action="" id="signupform">

            <div class="input-group">
              <span class="input-group-addon"><i class="material-icons">email</i></span>
              <input id="email" type="text" class="form-control" name="email" placeholder="Email address" required>
            </div>

            <div class="input-group">
              <span class="input-group-addon"><i class="material-icons">person</i></span>
              <input id="firstname" type="text" class="form-control" name="firstname" placeholder="First name" required>
              <input id="lastname" type="text" class="form-control" name="lastname" placeholder="Last name" required>
            </div>

            <div class="input-group">
              <span class="input-group-addon"><i class="material-icons">lock</i></span>
              <input id="password" type="password" class="form-control" name="password" placeholder="Create a password" required>
              <input id="confirmpassword" type="password" class="form-control" name="confirmpassword" placeholder="Confirm password" required>

            </div>

            <div class="input-group"> <!-- Date input -->
              <span class="input-group-addon"><i class="material-icons">cake</i></span>
              <input id="birthday" type="date" class="form-control" name="birthday" placeholder="Birthday" required>

            </div>

            <div class="form-group">
              <div class="row">
                <input id="signup" type="submit" class="btn btn-red" value="Sign Up" onclick="location.href="{% url 'matches'%}""/>
              </div>
<!--              <a href="{% url 'matches'%}" id="signup" class="btn btn-red">Sign Up</a> -->
            </div>

        </form>
        </div>



      </div>
    </div>

  </body>

</html>
