<h2 id="createprofileheading">Create a Profile</h2>
<div class="container">

  <div class="row">

    <div class="col-sm-4 col-sm-push-4 find-sports">
      <div class="formlabel">What are you interested in?</div>

      <form action="" method="" id="signupform">

      <div class="funkyradio">

        <div ng-repeat="activity in activities">
          <div class="funkyradio-primary">
              <input type="checkbox" name="checkbox" id="{{ 'checkbox-' + $index }}"/>
              <label for="{{ 'checkbox-' + $index }}">{{ activity }}</label>
          </div>
        </div>

      </div>

      <div class="form-group">
        <a id="continue" class="btn btn-red" ng-click="nextPage()">Continue</a>
      </div>
    </form>

    </div>



  </div>
</div>
