<div class="container">
  <div class="row">

    <div class="col-sm-4 col-sm-push-4 create-profile">
      <div class="section-name">
        <i class="material-icons back-button" ng-click="prevPage()">chevron_left</i>
        <span>Last Step...</span>
      </div>

      <div class="signup-form-contents">

        <div class="input-group"> <!-- Email input -->
          <span class="input-group-addon upload-pic">
            <i class="material-icons">add_a_photo</i>
            <div class="upload-text">Upload your profile photo</div>
            <input type="file"
                   id="profilepic"
                   name="file"
                   accept="image/*"
                   ngf-select
                   ng-model="picFile"
                   ngf-max-size="2MB"
                   ngf-model-invalid="errorFile"
                   required>
          </span>
          <img ng-show="signupform.file.$valid"
               ngf-thumbnail="picFile"
               class="thumb">
          <button ng-click="picFile = null" ng-show="picFile">Remove</button>
        </div>

        <div class="form-group">
          <div class="row">
          <a id="signup" class="btn btn-red" ng-click="signUp()">Sign Up</a> </div>
        </div>

      </div>

    </div>



  </div>
</div>
