<div class="container">
  <div class="row">

    <div class="col-sm-4 col-sm-push-4 create-profile">
      <div class="section-name">
        <i class="material-icons back-button" ng-click="prevPage()">chevron_left</i>
        <span>Last Step...</span>
      </div>

      <div class="signup-form-contents">

        <div class="input-group"> <!-- Profile Pic input -->
          <span class="input-group-addon upload-pic">
            <i ng-if="!picFile" class="material-icons">add_a_photo</i>
            <div ng-if="!picFile" class="upload-text">Upload your profile photo</div>
            <input type="file"
                   id="profilepic"
                   ngf-select
                   ng-model="picFile"
                   name="file"
                   accept="image/*"
                   ngf-max-size="5MB"
                   required
                   ngf-model-invalid="errorFile">

            <!-- Image Thumbnail -->
            <div ng-if="picFile"
                ngf-thumbnail="picFile"
                ngf-size="{width: 100, height: 100, quality: 1.0}"
                ngf-as-background="true"
                class="thumbnail"></div>
            </br>
            <div ng-click="picFile = null" ng-if="picFile">Click to upload new photo</div>
          </span>

        </div>

        <div class="form-group">
          <div class="row">
          <a id="signup" class="btn btn-red" ng-click="signUp()">Sign Up</a> </div>
        </div>

      </div>

    </div>



  </div>
</div>
