/****** PLACE YOUR CUSTOM STYLES HERE ******/
html, body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

#main-body {
  background-image: url(../img/keit-trysh-167890.jpg);
  background-size: cover;
}

#user-profile, #my-profile {
  background-image: url("../img/profile-background.jpg");
  background-size: cover;
  min-height: 100%;
}

#sidebar-filter {
  padding-top: 50px;
  padding-left: 50px;
}

/* * * * * * * * * * * * * *
 *       COMPONENTS        *
 * * * * * * * * * * * * * */

a.btn, a.btn:link, a.btn:visited, a.btn:active, a.btn:hover {
  color: #fff;
  font-weight: bold;
  width: 100%;
}

.dropdown-menu .btn-red, .btn-red {
  background-color: #C05243; /* red */
}

.dropdown-menu .btn-red:hover, .btn-red:hover {
  background-color: #994135; /* darker red */
  color: #fff;
}

.dropdown-menu .btn-blue, .btn-blue {
  background-color: #126BAB; /* blue */
}

.dropdown-menu .btn-blue:hover, .btn-blue:hover {
  background-color: #0e5385; /* darker blue */
  color: #fff;
}

.btn-light-blue {
  background-color: #7ea2ca; /* lightest blue */
}

.btn-light-blue:hover {
  background-color: #7191b5; /* lighter blue */
  color: #fff;
}

/* * * * * * * * * * * *
 *       NAVBAR        *
 * * * * * * * * * * * */
.navbar-default {
  background-color: #fff;
  border-radius: 0;
  padding: 0px;
}

.navbar-brand {
  height: auto;
  padding: 0px 20px;
}

.navbar li {
  border-left: 1px solid #cdcecc; /* light grey */
}

.navbar li a {
  padding: 0px;
}

.before-login li a {
  padding: 18px 25px;
}

.before-login li:hover {
  background-color: #eeeeee; /* lightest grey */
}

.navbar-toggle {
  margin: 11px;
}

.navbar-brand img {
  height: 55px;
  margin-left: 10px;
  float: left;
}

.material-icons.md-36 {
  color: #C05243; /* red */
  font-size: 36px;
  margin: 10px 20px;
}

.material-icons.md-36:hover {
  color: #994135; /* darker red */
}

.profilepic-icon {
  border: 4px solid #C05243; /* red */
  border-radius: 100px;
  height: 50px;
  margin: 3px 20px;
  width: 50px;
}

.profilepic-icon:hover {
  border-color: #994135; /* darker red */
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
  width: 250%;
}

.dropdown-menu li {
  border: 0px;
  padding: 3px 10px;
}

.dropdown-menu .btn {
  box-sizing: border-box;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  padding: 8px 15px;
}


/* * * * * * * * * * * * * *
 *       INDEX PAGE        *
 * * * * * * * * * * * * * */
.main {
  padding-top: 250px;
  color: #fff;
  text-shadow: 1px 1px black;
}

.main h1 {
  font-size: 80px;
  font-weight: bolder;
}

.main h2 {
  font-weight: lighter;
  padding-bottom: 30px;
}

.btn-get-started {
  border-radius: 50px;
  border: 2px solid #C05243;
  background-color: #C05243;
  padding: 10px 20px;
  font-size: 20px;
}

.btn-get-started:hover {
  border-color: #994135;
  background-color: #994135;
}

/* * * * * * * * * * * * * * * * *
 *       PROFILE SUMMARY         *
 * * * * * * * * * * * * * * * * */
.profile-summary, .profile-details, .recent-activities .create-profile {
  background-color: rgba(255, 255, 255, 0.8); /* white */
  border-radius: 10px;
  height: 100%;
  margin: 50px 10px;
  min-height: 520px;
  min-width: 240px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.profile-summary img {
  border: 5px solid #C05243; /* red */
  border-radius: 100px;
  display: block;
  height: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.profile-summary .profile-name {
  color: #C05243; /* red */
  font-size: 2em;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.profile-summary .location {
  color: #acadab; /* grey */
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.profile-summary .action-items {
  bottom: 0;
  margin-bottom: 30px;
  position: absolute;
  width: 100%;
}

.profile-summary .row {
  margin: 5px 15px;
}

.profile-details {
  background-color: rgba(228, 237, 248, 0.8); /* light blue */
  min-width: 400px;
}

.section-name {
  border-bottom: 1px solid #cdcecc; /* light grey */
  color: #5A5C58; /* grey */
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.recent-activities .section-name {
  color: #C05243; /* red */
}


/* * * * * * * * * * * * * * * * *
 *       SIGN UP FORM            *
 * * * * * * * * * * * * * * * * */

#subheading {
    color: #5A5C58; /* grey */
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}


 #signup, #continue {
   font-weight: bold;
   color: white;
   width: 100%;
   margin-top: 10px;
 }

 #signupform {
   padding: 30px;
 }

 .input-group {
   margin-bottom: 5px;
 }

 #picksports {
   padding: 10px;
 }
