/****** PLACE YOUR CUSTOM STYLES HERE ******/
html, body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

#main-body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("https://source.unsplash.com/3cCe37VGDiQ");
  background-size: cover;
  min-height: 100%;
}

#user-profile, #my-profile {
  background-image: url("https://source.unsplash.com/dDCf0-c4RTU");
  background-size: cover;
  min-height: 100%;
}

#matches {
  background-image: url("https://source.unsplash.com/7bwQXzbF6KE");
  background-size: cover;
  min-height: 100%;
}

.material-icons {
  position: relative;
  top: 5px;
  bottom: 5px;
}

.profile-name, .section-name {
  position:relative;

}

/* * * * * * * * * * * * * *
 *       COMPONENTS        *
 * * * * * * * * * * * * * */

a.btn, a.btn:link, a.btn:visited, a.btn:active, a.btn:hover {
  color: #fff;
  font-weight: bold;
  width: 100%;
}

.dropdown-menu .btn-blue, .btn-blue {
  background-color: #126BAB; /* blue */
}

.dropdown-menu .btn-blue:hover, .btn-blue:hover {
  background-color: #0e5385; /* darker blue */
  color: #fff;
}

.dropdown-menu .btn-red, .btn-red {
  background-color: #C05243; /* red */
}

.dropdown-menu .btn-red:hover, .btn-red:hover {
  background-color: #994135; /* darker red */
  color: #fff;
}

.btn-light-blue {
  background-color: #7ea2ca; /* lightest blue */
}

.btn-light-blue:hover {
  background-color: #7191b5; /* lighter blue */
  color: #fff;
}

a .edit-button {
  color: #5A5C58; /* grey */
  cursor: pointer;
  position:absolute;
  right:10px;
  top: 8px;
}

.edit-button:hover {
  color: #484946; /* dark grey */
}

/* * * * * * * * * * * *
 *       NAVBAR        *
 * * * * * * * * * * * */
.navbar-default {
  background-color: rgba(255,255,255,0.8);
  border-radius: 0;
  padding: 0px;
}

.navbar-brand {
  height: auto;
  padding: 0px 20px;
}

.navbar li {
  border-left: 1px solid #cdcecc; /* light grey */
}

.navbar li a {
  padding: 0px;
  cursor: pointer;
}

.before-login li a {
  padding: 18px 25px;
}

.before-login li:hover {
  background-color: #eeeeee; /* lightest grey */
}

.navbar-toggle {
  margin: 11px;
}

.navbar-brand img {
  height: 55px;
  margin-left: 10px;
  float: left;
}

.material-icons {
  top: 0px;
  bottom: 0px;
}

.material-icons.md-36 {
  color: #C05243; /* red */
  font-size: 36px;
  margin: 10px 20px;
}

.material-icons.md-36:hover {
  color: #994135; /* darker red */
}

.profilepic-icon {
  border: 4px solid #C05243; /* red */
  border-radius: 100px;
  height: 50px;
  margin: 3px 20px;
  width: 50px;
}

.profilepic-icon:hover {
  border-color: #994135; /* darker red */
}

.dropdown-menu {
  width: 250%;
}

.dropdown-menu li {
  border: 0px;
  padding: 3px 10px;
}

.dropdown-menu .btn {
  box-sizing: border-box;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  padding: 8px 15px;
}


/* * * * * * * * * * * * * *
 *       INDEX PAGE        *
 * * * * * * * * * * * * * */
.main {
  padding-top: 175px;
  color: #fff;
  text-shadow: 1px 1px black;
}

.main h1 {
  font-size: 80px;
  font-weight: bolder;
}

.main h2 {
  font-weight: 100;
  padding-bottom: 30px;
}

#btn-get-started {
  border-radius: 50px;
  border: 2px solid #C05243; /* red */
  background-color: #C05243; /* red */
  padding: 10px 20px;
  font-size: 20px;
  width: auto;
}

#btn-get-started:hover {
  border-color: #994135;  /* darker red */
  background-color: #994135;  /* darker red */
}

/* * * * * * * * * * * * * * * * *
 *       PROFILE SUMMARY         *
 * * * * * * * * * * * * * * * * */
.profile-summary, .profile-details, .recent-activities, .create-profile, .log-in {
  background-color: rgba(255, 255, 255, 0.8); /* white */
  border-radius: 10px;
  height: 100%;
  margin: 50px 10px;
  min-height: 520px;
  min-width: 240px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.profile-summary img {
  border: 5px solid #C05243; /* red */
  border-radius: 100px;
  display: block;
  height: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.profile-summary .profile-name {
  color: #C05243; /* red */
  font-size: 2em;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.profile-summary .location {
  color: #acadab; /* light ish grey */
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.profile-summary .action-items {
  bottom: 0;
  margin-bottom: 30px;
  position: absolute;
  width: 100%;
}

.profile-summary .row {
  margin: 5px 15px;
}

.profile-details {
  background-color: rgba(228, 237, 248, 0.8); /* light blue */
  min-width: 400px;
}

.section-name {
  border-bottom: 1px solid #cdcecc; /* light grey */
  color: #5A5C58; /* grey */
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.recent-activities .section-name {
  color: #C05243; /* red */
}

.profilepic a .edit-button {
  position: absolute;
  top: 21%;
  right: 42%;
  font-size: 3em;
}

#profile-details {
  height: 100%;
  margin: 10px;
  min-height: 380px;
  min-width: 300px;
  max-width: 380px;
  width: 200%;
  vertical-align: text-top;
}

/* * * * * * * * * * * * * * * * *
 *       SIGN UP FORM            *
 * * * * * * * * * * * * * * * * */

#subheading {
    color: #5A5C58; /* grey */
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

 #signup, #continue, #login {
   font-size: 1.6em;
   font-weight: bold;
   color: #fff;
   width: 100%;
   margin-top: 20px;
   height: 50px;
   border-radius: 10px;
 }

 #signupform, #login-form {
   padding: 20px 40px;
 }

 .input-group {
   margin-bottom: 5px;
 }

 #selectboxlabel {
    color: #5A5C58; /* grey */
    text-align: center;
 }

 option {
   text-align: center;
   font-family: "Helvetica Neue";
   font-weight: bold;
   font-size: 15px;
   height: 35px;
   padding-top: 7px;
   color: white;
   border-bottom: solid 1px white;
 }

 .material-icons.back-button {
   cursor: pointer;
   font-size: 30px;
   float: left;
   margin: 0 auto;
 }

 .formlabel{
   color: #5A5C58; /* grey */
   font-size: 1.2em;
   font-weight: bold;
   padding-top: 20px;
   text-align: center;
 }

 .find-sports {
   background-color: rgba(255, 255, 255, 0.8); /* white */
   border-radius: 10px;
   height: 100%;
   margin: 20px 10px;
   min-height: 300px;
   min-width: 240px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
 }

 .create-profile {
   background-color: rgba(255, 255, 255, 0.8); /* white */
   border-radius: 10px;
   height: 100%;
   margin: 20px 10px;
   min-height: 300px;
   min-width: 240px;
   margin-top: 100px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
 }

#selectbox {
  padding-top: 10px;
  margin-top: -15px;
  border: none;
  background-color: #126BAB; /* blue */
  border-radius: 15px;
  height: 200px;
}

#signupform i, #login-form i {
  font-size: 1.3em;
}

.log-in {
  min-height: 100%;
  margin-top: 200px;
  padding: 0px;
}

.form-group {
  margin-bottom: 0px;
}

/* * * * * * * * * * * * * * * * *
 *       CHECKBOX                *
 * * * * * * * * * * * * * * * * */

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  /* margin-top: 2em; */
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

/* * * * * * * * * * * * * * * * *
 *       MATCHES                *
 * * * * * * * * * * * * * * * * */

 .match-profile-name {
   color: #C05243; /* red */
   font-size: 16px;
   font-weight: bold;
   margin: 10px;
   text-align: center;
   padding-bottom: 10px;
 }

.profile-view img {
   border: 5px solid #C05243; /* red */
   border-radius: 100px;
   display: block;
   height: 100px;
   margin: 0 auto;
   margin-top: 30px;
 }

 .profile-view {
   color: #C05243; /* red */
   font-size: 14px;
   font-weight: bold;
   margin: 10px;
   text-align: center;
   padding-bottom: 20px;
 }

 .profile-view .action-items {
   bottom: 0;
   position: absolute;
   width: 100%;
 }

 .match-profile-summary {
   font-size: 12px;
   color: black;
   font-weight: normal;
   padding-bottom: 10px;
   text-align: left;
 }

#profile-view {
  background-color: rgba(255, 255, 255, 0.8); /* white */
  border-radius: 10px;
  padding-bottom: 10px;
}

#sidebar-filter {
  padding-left: 60px;
  display: inline-block;
}

#profile-view {
  text-align: center;
}

#profile-view-content {
  padding-left: 50px;
  text-align: center;
  display: inline-block;
}

#matches-btn {
  font-size: 16px;
  margin-top: 15px;
  padding-bottom: 20px;
}

#match-next {
  display: inline-block;
  padding-top: 30px;
}

#header-friends {
  padding-bottom: 10px;
}

#search-friend {
  width:60%;
}

.search-icon {
  top: 8px;
}

#search-friend-bar {
  padding-left: 250px;

}


/* * * * * * * * * * * * * * * * *
 *       ABOUT US                *
 * * * * * * * * * * * * * * * * */

#about-us {
  background-image: url("https://source.unsplash.com/3cCe37VGDiQ");
}

#submit {
  font-weight: bold;
  color: white;
  width: 100%;
  margin-bottom: 50px;
  height: 40px;
  border-radius: 10px;
}

.contactformbox {
  background-color: rgba(202, 220, 241, 0.8); /* light blue */
  border-radius: 10px;
  height: 100%;
  min-height: 300px;
  min-width: 240px;
  margin: 10px;
  margin-top: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.about-subheadings {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.about-heading {
  color: white;
  padding-top: 30px;
  font-weight: bold;
  font-size: 2.5em;
  padding-bottom: 30px;
}

#about-us {
  color: white;
  padding-top: 30px;
  font-weight: bold;
}

#contactform {
  padding: 20px;
  padding-top: 20px;
}

#contactform label {
  margin: 5px 0px;
}

.theteambox {
  background-color: rgba(255, 255, 255, 0.8); /* light blue */
  border-radius: 10px;
  height: 100%;
  margin: 5px;
  margin-top: 5px;
  min-width: 240px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.about-box {
  display: flex;
  justify-content: center;
}

.about-text {
  align-self: center;
  color: #5A5C58; /* grey */
  font-size: 1em;
  margin: 25px;
  text-align: center;
}

.teammember {
  color: #5A5C58; /* grey */
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.memberpic {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100px;
}
