<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <% include ../partials/head %>
    <% include ../partials/footer%>
</head>
<body id="index-background" ng-app="myApp" ng-controller="FriendsCtrl">
  <header>
      <% include ../partials/navbar_login%>
  </header>

  <% include ../partials/about-content%>
</body>
</html>
