<!DOCTYPE html>
<html lang="en">
<head>
    <title>FitFamOz</title>
    <% include ../partials/head %>
</head>
<body>
  <% include ../partials/footer %>
  <div id="index-background" ng-app="myApp" ng-controller="IndexCtrl">
    <header>
      <% include ../partials/navbar_nologin%>
    </header>

    <section ng-if="isIndex()" class="text-center">
        <div class="main">
            <h1>FitFamOz</h1>
            <h2>Connecting You To Your New Fit Family</h2>
            <a class="btn btn-red" id="btn-get-started" ng-click="nextPage()">Get Started!</a>
        </div>
    </section>

    <form name="signupform" autocomplete=""action="" id="signupform">

      <div ng-if="isSignUp1()">
        <% include ../partials/signup1%>
      </div>

      <div ng-if="isSignUp2()">
        <% include ../partials/signup2%>
      </div>

      <div ng-if="isLogIn()">
        <% include ../partials/login%>
      </div>

      <div ng-if="isProfilePic()">
        <% include ../partials/uploadprofilepic%>
      </div>

    </form>

    <div ng-if="isAbout()">
      <% include ../partials/about-content%>
    </div>
  </div>
</body>
</html>
