<!DOCTYPE html>
<html>
  <head>
    <title>My Matches</title>
    <% include ../partials/head %>
    <% include ../partials/footer%>
  </head>
  <body id="matches" ng-app="myApp" ng-controller="MatchesCtrl">
      <header>
        <% include ../partials/navbar_login%>
      </header>

    <!-- Content page for matches -->
    <div class="container-fluid">

      <!-- Sidebar filter -->
      <div class="container col-lg-4" id="sidebar-filter">
        <div class="match-toggle-container">
          <div id="match-toggle-text">MY MATCHES</div>
          <toggle ng-model="$storage.matchType"
                  ng-change="toggleMatchButton()"
                  on="Location"
                  off="Activities"
                  onstyle="btn-primary"
                  offstyle="btn-primary">
          </toggle>
        </div>
        <h4>Filters</h4>
        <form class="form-horizontal">
          <div class="form-group row">
            <div class="form-inline col-xs-12">
              <h5>Location</h5>
              <input class="form-control"
                  type="text"
                  placeholder="Find in Suburb"
                  ng-model="searchText.location">
              <i class="material-icons delete-activity-filter"
                ng-click="searchText.location = '';">clear
              </i>
            </div>
          </div>
            <div class="form-inline col-xs-7 filter-headings">
              <h5>Activities</h5>
            </div>
            <div class="form-inline col-xs-5">
              <h5>Skill Level</h5>
            </div>
            <div class="form-group row"
                id="activity"
                ng-repeat="activityFilter in activityFilters">
              <div class="form-inline col-xs-7">
                <input class="form-control"
                    type="activities"
                    placeholder="Find an activity"
                    ng-model="name"
                    ng-change="addActivityFilterName($index, name)">
              </div>
              <div class="form-inline col-xs-5">
                <select class="form-control"
                    id="skill-level"
                    ng-model="level"
                    ng-change="addActivityFilterLevel($index, level)">
                  <option>Low</option>
                  <option>Medium</option>
                  <option>High</option>
                </select>
                <i class="material-icons delete-activity-filter"
                  ng-click="delActivityFilter($index)">clear
                </i>
                <br><br>
              </div>
            </div>

          <button type="button" class="btn btn-blue" id="matches-btn" ng-click="addActivityFilter()">
          <i class="material-icons">add_circle_outline</i> Add an activity</button>

        </form>
      </div>

      <!-- Matches -->
      <div class="container col-lg-8" id="profile-view-content">
        <div ng-if="!users" class="loader-container">
          <div class="loader">
          </div>
        </div>
        <div class="no-matches-message" ng-if="otherQuery">
          {{ "No matches found, try matching based on " }}
           <a ng-click="toggleMatch()">{{ otherQuery }}</a>
          {{ "?" }}
        </div>
        <div class="no-matches-message" ng-if="filteredUsers.length == 0">
          No matches found matching these filters. Try another filter?
        </div>

        <div class="row row-centered">
        <br>
        <div ng-repeat="user in pagedData | filter:searchText | limitTo:pageSize" class="col-sm-3 col-center profile-view" id="profile-view">
              <div data-toggle="modal" data-target="{{ '#viewprofile' + $index }}">
                <img ng-src="{{ user.picUrl }}" alt="profile pic">
              </div>
              <div class="match-profile-name">
                {{ user.firstName + " " + user.lastName }}
              </div>
              <div class="match-profile-summary">
                <table style="width:100%" ng-repeat="activity in user.activities">
                  <tr>
                    <td>{{ activity.name }}</td>
                  <!--  <td>{{ activity.level }}</td> -->
                  </tr>
                </table>
              </div>
              <br>
              <button type="button" class="btn btn-blue" data-toggle="modal" data-target="{{ '#viewprofile' + $index }}" id="view-btn">
                <i class="material-icons">remove_red_eye</i> View More
              </button>
              <div class="space-btn"></div>
              <div id="view-btn"
                  class="btn btn-red"
                  ng-if="!isFriend(user)"
                  ng-click="addFriend(user)">
                <i class="material-icons">star_border</i> Add Friend
              </div>
              <div id="view-btn"
                  class="btn btn-red added-friend"
                  ng-if="isFriend(user)"
                  ng-click="removeFriend(user)"
                  ng-mouseover="removeBtn=true"
                  ng-mouseleave="removeBtn=false"
                  ng-class="{ 'remove-friend': removeBtn }">
                <i class="material-icons" ng-if="!removeBtn">star</i>
                <i class="material-icons" ng-if="removeBtn">block</i>
                <span ng-if="!removeBtn">Added Friend</span>
                <span ng-if="removeBtn">Remove Friend?</span>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="{{ 'viewprofile' + $index }}" role="dialog">
                <div class="modal-dialog"  id="custom-modal-body">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Profile Summary <i class="material-icons">reorder</i></h4>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                        <div class="row">
                          <div class="col-sm-1 profile-summary">
                            <div>
                              <img style="height:170px;" ng-src="{{ user.picUrl }}" alt="profile pic">
                            </div>
                            <div class="profile-name">
                              {{ user.firstName + " " + user.lastName }}
                            </div>
                            <div class="location">
                              <i class="material-icons">location_on</i> {{ user.location }}
                            </div>

                            <div class="action-items">
                              <div class="row">
                                <div id="view-btn"
                                    class="btn btn-red"
                                    ng-if="!isFriend(user)"
                                    ng-click="addFriend(user)">
                                  <i class="material-icons">star</i> Add Friend
                                </div>
                                <div id="view-btn"
                                    class="btn btn-red added-friend"
                                    ng-if="isFriend(user)"
                                    ng-click="removeFriend(user)"
                                    ng-mouseover="removeBtn=true"
                                    ng-mouseleave="removeBtn=false"
                                    ng-class="{ 'remove-friend': removeBtn }">
                                  <i class="material-icons">star_border</i>
                                  <span ng-if="!removeBtn">Added Friend</span>
                                  <span ng-if="removeBtn">Remove Friend?</span>
                                </div>                              </div>
                              <div class="row">
                                <a href="#" class="btn btn-blue"><i class="material-icons">tag_faces</i> Rate {{ user.firstName }} </a>
                              </div>
                              <div class="row">
                                <a href="#" class="btn btn-blue"><i class="material-icons">message</i> Message {{ user.firstName }}</a>
                              </div>
                              <div class="row">
                                <!-- <input id="report-button" type="submit" class="btn btn-light-blue" value="Report user"
                                  onclick="return confirm('Are you sure you want to report this user?')"/> -->
                                <a class="btn btn-light-blue" ng-click="reportUser()"><i class="material-icons">report</i> Report {{ user.firstName }}</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-1 profile-details">
                            <div class="section-name">Details
                            </div>
                            <br>
                            <div class="section-details">
                              {{ user.aboutMe }}
                            </div>
                            <br>
                            <table style="width:100%;">
                              <th style="float:left;width:50%;">Activites</th>
                              <th style="float:right;width:50%;">Skill Level</th>
                            </table>
                            <table style="width:100%;" ng-repeat="activity in user.activities">
                              <tr>
                                <td style="float:left;width:50%;">{{ activity.name }}</td>
                                <td style="float:right;width:50%;">{{ activity.level }}</td>
                              </tr>
                            </table>
                          </div>

                          <!--<div class="col-sm-4 recent-activities">
                            <div class="section-name">Schedule
                            </div>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>

                </div>
              </div>

          </div>
          <br><br>
          <div class="container">
          <!-- Pagination -->
          <button class="btn btn-pagination" ng-if="friends.length > 0" ng-disabled="pageButtonDisabled(-1)" ng-click="paginate(-1)"><i class="material-icons">navigate_before</i></button>&nbsp;&nbsp;
          <button class="btn btn-pagination" ng-if="friends.length > 0" ng-disabled="pageButtonDisabled(1)" ng-click="paginate(1)">NEXT PAGE <i class="material-icons">navigate_next</i></button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  $(document).ready(function(){
      $("#matches-btn").click(function(){
        addAct = `<div class="form-inline col-xs-7">
          <input class="form-control" type="activities" placeholder="Find an activity">
        </div>
        <div class="form-inline col-xs-3">
          <select class="form-control" id="skill-level">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
          </select>
          <br><br>
        </div>`
          $("#activity").append(addAct);
      });
  });
  </script>
</html>
