<!DOCTYPE html>
<html lang="en">

<!-- Adapted from template @https://www.bypeople.com/sliding-css-chat-bubbles/ -->
<head>
    <title>Your Messages</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/messages.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.emojipicker.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.emojipicker.a.css">

</head>

<body ng-app="myApp" ng-controller="MessagesCtrl">
    <header>
        <% include ../partials/navbar_login%>
    </header>

    <!-- main container -->
    <div class="main-container" style="margin-top:0; padding-top:0;">
        <div class="container bootstrap snippet">
            <div class="row" style="padding-top:2em; height:45em; padding-bottom:2em;">
                <div class="col-md-1"></div>
                <div class="left col-md-4 col-xs-12">
                    <div class="top">
                        <input type="text" placeholder="search chat history"/>
                        <a href="javascript:;" class="search"></a>
                    </div>
                    <!-- list of friends -->
                    <div class="chat-list-container">
                      <div ng-if="!friends" class="loader-container">
                        <div class="loader">
                        </div>
                      </div>
                      <ul class="people" ng-repeat="friend in friends">
                        <li class="person" data-chat="person6" ng-init="openChat = 0" ng-click="toggleOpenChat($index)">
                          <img class="profilepic-icon-sm" ng-src="{{ friend.picUrl }}" alt="profile pic" />
                          <span class="match-profile-name name">{{ friend.firstName + " " + friend.lastName }}</span>
                          <span class="preview"></span>
                        </li>
                      </ul>
                    </div>
                    <!-- end list of friends -->
                </div>
                <div class="right col-md-6 col-xs-12 bg-lightblue" ng-init="fetchChatWindow()">
                    <div class="top"><span>To: <span class="name">
                        {{friends[openChat].firstName + " " + friends[openChat].lastName}}
                    </span></span>
                    </div>
                    <!-- chat window -->
                    <div class="chat active-chat">
                        <span ng-model="curMessages" ng-repeat="message in curMessages">
                            <span ng-if="isAuthorMe(message)">
                                <div class="bubble me">
                                    {{message.text}}
                                </div>
                            </span>
                            <span ng-if="!isAuthorMe(message)">
                                <div class="bubble you">
                                    {{message.text}}
                                </div>
                            </span>
                        </span>
                    </div>
                    <!-- end chat window -->
                    <!-- chat input box -->
                    <form class="write" ng-submit="textSubmit()">
                        <input type="text" ng-model="text" name="text" id="emojis" class="emojiable-option" placeholder="Say something">
                        <span class="write-link send" ng-click="textSubmit()"></span>
                    </form>
                    <!-- end chat input box -->
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <span>
    <% include ../partials/footer%>
    <script type="text/javascript" src="js/jquery.emojis.js"></script>
    <script type="text/javascript" src="js/jquery.emojipicker.js"></script>
    <script>
    $(document).ready(function(e) {
        //add emoji functionality to input
        $('#emojis').emojiPicker({
          height: '200px',
          width:  '300px',
          position: 'left'
        });
        $('.emoji-selector').on("click", function () {
            $('#emojis').emojiPicker('toggle');
        });
        // keyup event is fired
        $(".emojiable-question, .emojiable-option").on("keyup", function () {
          //console.log("emoji added, input val() is: " + $(this).val());
        });
    });
    </script>
    </span>
</body>

</html>
