<!DOCTYPE html>
<html>
  <head>
    <title>My Profile</title>
    <% include ../partials/head %>
    <% include ../partials/footer%>
  </head>
  <body id="matches">
      <header>
          <% include ../partials/navbar_login%>
      </header>

      <div class="container" ng-app="myApp" ng-controller="MyProfileCtrl">
        <div class="row">
          <div class="col-sm-3 profile-summary">
            <div class="profilepic">
              <img ng-src="{{ currUser.picUrl }}" alt="profilepic">
              <a><i ng-if="editMode" class="material-icons big edit-button">mode_edit</i></a>
            </div>
            <div class="profile-name">
              <span ng-if="!editMode">{{ currUser.firstName + " " + currUser.lastName }}</span>
              <div class="row profile-edit-text" ng-if="editMode">
                <input
                  type="text"
                  class="form-control profile-edit-name"
                  placeholder="First Name"
                  ng-model="currUser.firstName"
                  required>
                <input
                  type="text"
                  class="form-control profile-edit-name"
                  placeholder="Last Name"
                  ng-model="currUser.lastName"
                  required>
              </div>
            </div>

            <div class="action-items">
              <div class="row">
                <a class="btn btn-blue" ng-if="!editMode" ng-click="toggleEditMode()">
                  <span>Edit Your Profile</span>
                </a>
                <a class="btn btn-red" ng-if="editMode" ng-click="saveChanges()">
                  <span>Save Changes</span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-sm-5 profile-details">
            <div class="section-name">Profile Details</div>
            <form action="" method="" id="editprofile">
              <!-- GET USER DETAILS FROM DB AND SHOW HERE. -->

              <div class="profile-details-section">
                <div class="section-title">About Me</div>
                <div ng-if="!editMode" class="profile-details-text"> {{currUser.aboutMe}}
                </div>
                <div class="profile-edit-text" ng-if="editMode">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Write something about yourself!"
                    ng-model="currUser.aboutMe">
                </div>
              </div>
              <div class="profile-details-section"><div class="section-title">Activities</div>
                <ul>
                  <div ng-repeat="activity in currUser.activities">
                    <li>
                      <span class="activity-name">{{ activity.name }}</span>
                      <!-- <span class="activity-level" ng-if="!editMode">{{ activity.level }}</span> -->
                      <select class="form-control activity-level"
                        ng-disabled="!editMode"
                        ng-model="activity.level"
                        ng-options="level for level in activityLevels">
                      </select>
                    </li>
                  </div>
                </ul>
              </div>

            </form>
          </div>

          <div class="col-sm-3 recent-activities">
            <div class="section-name">Available Times
            </div>
            <mp-calendar day-labels='["Su","Mo","Tu","We","Th","Fr","Sa"]'
             disable-prev-days
             show-days-in-month=42>
            </mp-calendar>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
